/* Nav bar styling */

.nav-bar-item-contact{

    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

ul{
    background-color: white;
    height: 90px;
}

.nav-bar-item-contact a {

    /* border-radius: 1px; */
    color: black;
    display: block;
    padding: 25px 25px;
    text-decoration: none;
}


.nav-bar-item-contact:hover a:hover {

    border-radius: 50px;
    margin: 4px;
    background-color: #0e1624;
    color: white;
    transition: .3s;
}


/* main section styling */

.contact-main{
    margin-top: 60px;
    /* background-color: green; */
    display: flex;
    justify-content: space-around;
}


#Send-Me-Text{
    margin-top: 100px;

}
.contact-title{
    /* background-color: greenyellow; */
    width: 100%;   
    text-align: left; 
    font-size: 90px;
    color: white;
}

.vertical-divider-line{
    margin: 60px;

    height: 400px;
    width: 2px;
    background-color: white;
}


.contact-details{
    width: 500px;
    height: 500px;
    /* background-color: blue; */
}


input[type=submit] {
    width: 100%;
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    font-weight: 900;
    color: #0e1624;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }



::placeholder{
    color: rgb(170, 170, 170);
}
.form-box {
    /* background-color: rgba(197,197,197, 0.5); */
    color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.large-form-box {
    overflow: scroll;
    padding-top: 10;
    padding-bottom: 100px;
    margin: 8px 0;
}