* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body{
    color: var(--text-color);
    color: #beb9b9;
    font-family: 'Work Sans', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}




.profile-img{
    background: URL('images/me.jpg');
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 4px 4px 10px black;

}

.titles {
    color: white;
    padding-left: 20px;
    text-shadow: 3px 3px 5px#1c2d49;

}
.website-introtext {
    font-size: 50px;
    font-weight: 100;
    
}
.website-title {
    font-size: 70px;
    font-weight: 800;

}
.website-subtitle {
    font-family: monospace;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    background-color: #0e1624;
}



.top-section{
   background: url(images/111.jpg) no-repeat center center; 
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.blur{
    backdrop-filter: blur(100px);

}

@media (min-width: 0) {

    .main {
        margin-left: 5%;
        margin-right: 5%;
    }

    .intro {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding-top: 15vh;
        padding-bottom: 30vh;
        /* background-color: red; */
    }




}
@media (min-width: 850px) {
    .main {

        margin-left: 15%;
        margin-right: 15%;
    }
    .intro {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        flex-direction: row;

        /* background-color: red; */
    }
}

/* Design for the nav bar */



ul {
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
}


a {
  color: inherit; 
  text-decoration: none;

}

.nav-bar-item{
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    color: white;
    display: block;
    padding: 20px 20px;
}

.nav-bar-item:hover {
    color: text-color;
    border-radius: 30px;
    background-color: #0e1624;
    transition: .5s;
}
.nav-bar-icon{
    font-size: 40px;
    margin-left: auto;
    margin-right: 30px;
}


footer {
    background-color: #0e1624;
    padding: 50px;
}

.gradient-text{
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}







.portfolio-title {
    color: #0e1624;
    text-shadow: 1px 1px 2px gray;
    background-color: white;
    font-size: 40px;
    padding-top: 100px;
}

.portfolio{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    place-content: center;
    gap: 60px;

}

.project-card{
    color: red;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
    text-decoration: none;
    box-shadow: 3px 3px 10px grey;


}
.project-card-img{
    height: 210px;
    background-size: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-decoration: none;
}

.project-card-details{
    height: 80px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-top: 30px;

    font-size: 18px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;

}




