* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size:100%;
    vertical-align: baseline;
    background: transparent;
}

html {
} 


body{
    color: white;
    font-family: 'Work Sans', sans-serif;
    /* background-image: linear-gradient(120deg, #f6d365, #fda085); */
    background-color: #ebebeb;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.profile-img{
    background: URL('images/me.jpg');
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 4px 4px 10px black;

}
.titles {
    color: white;
    padding-left: 20px;
    text-shadow: 3px 3px 5px#1c2d49;

}
.website-introtext {
    font-size: 50px;
    font-weight: 100;
    
}
.website-title {
    font-size: 70px;
    font-weight: 800;

}
.website-subtitle {
    font-family: monospace;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    background-color: #0e1624;
}



.top-section{
    background: url(images/111.jpg) no-repeat center center; 
   background: url(images/Nature.jpg) no-repeat center center; 
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


@media (min-width: 0) {

    .main {
        margin-left: 5%;
        margin-right: 5%;
    }

    .intro {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding-top: 15vh;
        padding-bottom: 30vh;
        /* background-color: red; */
    }




}
@media (min-width: 850px) {
    .main {
        margin-left: 15%;
        margin-right: 15%;
    }
    .intro {

        text-align: left;
        flex-direction: row;

        /* background-color: red; */
    }
}

/* Design for the nav bar */



ul {
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
}


a {
  color: inherit; 
  text-decoration: none;

}

.nav-bar-item{
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    color: white;
    display: block;
    padding: 20px 20px;
}

.nav-bar-item:hover {
    color: text-color;
    border-radius: 30px;
    background-color: #0e1624;
    transition: .5s;
}
.nav-bar-icon{
    font-size: 40px;
    margin-left: auto;
    margin-right: 30px;
}


footer {
    background-color: #0e1624;
    padding: 50px;
}

.gradient-text{
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.portfolio-title {
    color: #0e1624;
    text-shadow: 1px 1px 2px gray;
    background-color: ebebeb;
    font-size: 40px;
    padding-top: 50px;
}

.portfolio{
 
    
    padding: 50px;
    place-content: center;

}

.project-card{

    margin:10px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
    text-decoration: none;
    box-shadow: 3px 3px 10px grey;


}
.project-card-img{
    height: 210px;
    background-size: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-decoration: none;
}

.project-card-details{
    height: cover;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-top: 30px;

    font-size: 18px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;

}


.collapsible {
  box-shadow: 1px 1px 4px gray;
  background-color: white;
  border-color: lightgray;
  padding: 30px;
  color: black;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 20px;
  font-weight: 400;

  display: flex;
  justify-content: space-between;
}

.fas .fa-chevron-down{
    position: absolute;
    right: 100px;

 
}

.rotate{
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.rotate.toggle {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform: rotate(180deg);
}



@media (min-width: 0px) {
    .content {
  grid-template-columns: repeat(auto-fit, 300px);
    }
    
}

@media (min-width:800px) {
    .content {
    grid-template-columns: repeat(auto-fit, 400px);

    }
}
.content {
    margin: 30px;
    display: grid;
    justify-content: center;
    gap: 60px;

    /* set original max height position */
    /* Then transition if this max-height value changes. */
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.2s ease;
  }



